body{
	background-color : rgb(247, 234, 218);
}
.col{
	background-color: beige;
	padding-top:-2px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.nobackground{
background-color: transparent;
text-align: center;
}

p {
	text-align: justify;
}

ul.disc {
	padding: 10px;
}

ul.disc > li {
    list-style-type: disc;
}

h1{
	text-align: center;
	opacity: 0.33;
	font-family:'Pacifico'

}
h2{
	text-align: center;
	color: rgb(226, 0, 65);
	padding: -30px 0px 0px 0px;
	font-family:'Pacifico'
}
h3{
	text-align: left;
	color: grey;
	font-family: 'Capriola', sans-serif;
	font-size: 200%
	padding: -30px 0px 0px 0px;
}
#tricoteuses{
	border-radius: 50%;
	box-shadow: 10px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#nousaidons{
	box-shadow: 10px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin:auto;
	display: block;
}
#partenaires{
	display: block;
	border : 2px solid #D5D2C5;
}
.partenaires{
	/*padding-left: 200px;
	padding-right: 50px;*/
}
p.merci{
	color: #A29C84;
	font-size: 70%;
	font-style:italic;
	text-align:justify;
}
.foot{
	background-color: transparent;

}

.logo{
    height :60px;
}

.nav{
    height: 120px;
    line-height: 120px;
}

.nav-wrapper{
    background-color: #dfb9b9;
}

.page-footer{
    background-color: #dfb9b9; 

}